body {
    height: 100vh;
    background-color: #000000;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

main {
    width: 80%;
}

main ul {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    display: grid;
    justify-items: center;
    gap: 25px;
    list-style: none;
}

main li {
    width: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    border: 1px solid white;
    box-shadow: 0 0 10px #7c7c7c;
    border-radius: 20px;
    text-align: center;
}

main li a:first-child {
    grid-column: 1/-1;
    font-weight: 900;
    font-size: 20px;
    color: #92dce5;
}

main li a {
    text-decoration: none;
    color: #d64933;
}

@media only screen and (max-width: 945px) {
    main {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    main li {
        width: 200px;
    }
}
